<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vita500.mapper.AdminMapper">
 
	 <insert id="nfc_id_regist"> 
	 	INSERT INTO `testdb`.`tbl_child` (`NFC_ID`, `User_ID`, `Child_Name`, `Child_Gender`)
	 	VALUES (#{NFC_ID}, #{User_ID}, #{Child_Name}, #{Child_Gender});	 	
	 </insert>
	 
	 <select id="nfc_id_list" resultType="vita500.domain.AdminVO">
	 	SELECT * FROM `testdb`.`tbl_child` LIMIT 1000;	 	
	 </select>
	 
	 <select id="user_list" resultType="vita500.domain.MemberVO">
	 	SELECT * FROM `testdb`.`tbl_user` LIMIT 1000;	 	
	 </select>	 
	 
	 <select id="time_list" resultType="vita500.domain.WifiVO">
	 	SELECT * FROM `testdb`.`nfc_wifi_linux` WHERE `nfc_id`='52_d7_b3_1b' ORDER BY `NFC_No` DESC LIMIT 10;
	 </select>
	 
	 <select id="time_chart" resultType="vita500.domain.WifiVO">
	 	SELECT * FROM `testdb`.`nfc_wifi_linux` WHERE `nfc_id`='52_d7_b3_1b' ORDER BY `NFC_No` DESC LIMIT 10;
	 </select>
	 
	 <select id="nfc_id" resultType="vita500.domain.AdminVO">
	 	SELECT nfc_id FROM tbl_child;
	 </select>  
 
 
</mapper>














