<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.MemberMapper">
 
  <!-- 회원가입 쿼리 -->
 <insert id="singup"> 
	 INSERT INTO tbl_user (User_ID, User_PW, User_Name, User_CPN, User_Email) 
	VALUES(#{User_ID},#{User_PW},#{User_Name},#{User_CPN},#{User_Email})
 </insert>
 
  <!-- 아이디 중복 검사 -->
<select id="idCheck" resultType="vita500.domain.MemberVO">
	SELECT * FROM tbl_user WHERE User_ID = #{User_ID}
</select>

  <!-- 로그인 -->
<select id="login" resultType="vita500.domain.MemberVO">
	SELECT User_ID, User_PW FROM tbl_user WHERE User_ID = #{User_ID} AND User_PW = #{User_PW}
</select>


 
</mapper>














