<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.MemberMapper">
 
 <insert id="singup">
	 INSERT INTO tbl_user (User_ID, User_PW, User_Name, User_CPN, User_Email) 
	VALUES(#{User_ID},#{User_PW},#{User_Name},#{User_CPN},#{User_Emai})
 </insert>
 

 
 
 
</mapper>














